* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 75%;
}

.right {
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

pre,
code {
    font-family: "Lucida Console", "Courier New", monospace;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}