<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            var user_in = document.getElementById("user_in").value;
            $.post("get_solution", { user_in: user_in }).done(function (reply) {
                alert(reply);
            });
        });
    });
</script>

<head>
    <meta charset="UTF-8">
    <title>Day {{ n }} Solution</title>
</head>

<body>
    <div class="row">
        <div class="column left">
            {{ info|safe }}
        </div>
        <div class="column right">
            <p><label for="user_in">Your Input:</label></p>
            <textarea id="user_in" name="user_in" cols="40" rows="5"></textarea>
            <button>Get Results</button>
        </div>
    </div>


</body>

</html>